.section {
  display: flex;
  flex-direction: column;
  padding: 1em 4vw;
}

.section > p {
  font-size: 1.2rem;
  font-weight: bold;
}

.container__report {
  padding: 1em 0;
}

.summary {
  border: 1px solid var(--fc-1);
  margin: 0.25em 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

.distance {
  display: grid;
  place-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 1em;
  background: linear-gradient(125deg, var(--clr-1), var(--clr-2));
}

.distance > p:nth-of-type(1) {
  font-weight: bold;
  font-size: 2rem;
}

.distance > p:nth-of-type(2) {
  font-size: 0.75rem;
}

.date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 0.5em;
  background-color: var(--clr-3);
  display: flex;
  align-items: center;
}

.date > p {
  font-weight: bold;
}

.reason {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 0.5em;
  background-color: var(--fc-1);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.reason > p {
  padding: 0.5em;
  color: var(--fc-2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
