*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-1: #29f02e;
  --clr-2: #03e5cf;
  --clr-3: #f6f6f6;

  --fc-1: #282828;
  --fc-2: #ffffff;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

.App {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--fc-2);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  align-self: flex-start;
  padding: 1em 2.5em;
  border-radius: 1000vmax;
  border: transparent;
  background: linear-gradient(125deg, var(--clr-1), var(--clr-2));
  color: var(--fc-2);
  font-weight: bold;
  margin: 0.5em 0;
  font-size: 0.8rem;
}
